.banner {
  position: relative;
}

.layout {
}

.banner_wrap {
  width: 100%;
}
.sw_banner {
  width: 100%;
  max-width: 70%;
  overflow: visible;
}
.banner_slide_item img {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}
.banner_slide_prev {
}
.banner_slide_next {
}
