.banner {
  position: relative;
}

.layout {
  max-width: 100%;
}

.banner_wrap {
  height: 345px;
  width: 100%;
}
.swiper.sw_banner {
}
.banner_slide_item {
}

.banner_slide_item img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner_slide_prev {
}
.banner_slide_next {
}
