.category {
  position: relative;
  display: flex;
  padding-top: 65px;
  padding-bottom: 55px;
  margin-top: 55px;
}
.layout {
}
.category_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.category_list_emo {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 64px;
}
.category_list_emo li {
  display: flex;
  position: relative;
  border-radius: 24px;
  max-width: 100%;
  max-height: 100%;
  /* background-color: rgb(247, 247, 247); */
  /* height: 80px; */
  /* width: 80px; */
}
.category_list_emo li:hover .category_box {
  background-color: rgb(240, 241, 246);
}

.category_list_emo li a {
  display: block;
}
.category_box {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 24px;
  background-color: rgb(247, 247, 247);

  margin-bottom: 12px;
}

.category_hot {
  position: absolute;
  text-align: center;

  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  padding: 3px 4px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: rgb(255 82 71);
  width: 35px;
  height: 20px;
  border-radius: 20px;
}
.category_label {
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: rgba(44, 44, 44, 1);
  /* display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: red; */
}
.category_list_emo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 48px;
  width: 48px;
}
