.cok {
  height: 525px;
  background-color: rgb(247, 247, 255);
  border-top: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 56px 16px;
}
.layout {
}
.cok_title {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  padding-left: 8px;
  gap: 8px;
}
.cok_title p {
  color: #5a64f9;
}
.cok_content {
  display: flex;
  padding-top: 32px;
  gap: 8px;
}
.cok_list {
  display: block;
  width: 250px;
  height: auto;
  border-radius: 12px;
  padding: 8px;
  background-color: rgb(235, 237, 246);
}
.cok_list_image {
  width: 225px;
  height: 225px;
  margin: 0 auto;
}
.cok_list_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.cok_list_info {
  display: block;
  padding-top: 12px;
}
.cok_label {
  display: flex;
  gap: 4px;
}
.cok_info_label {
  display: flex;
  width: auto;
  height: auto;
  padding: 4px;
  border-radius: 4px;
  background-color: rgb(231, 235, 254);
  color: #346df3;
  font-size: 11px;
  font-weight: 500;
}
.cok_info_city {
  display: flex;
  width: auto;
  height: auto;
  padding: 4px;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #777777;
  font-size: 11px;
  font-weight: 500;
}
.cok_label_blue {
  display: flex;
  width: auto;
  height: auto;
  padding: 4px;
  border-radius: 4px;
  background-color: rgb(231, 235, 254);
  color: #346df3;
  font-size: 11px;
  font-weight: 500;
}
.cok_label_red {
  display: flex;
  width: auto;
  height: auto;
  padding: 4px;
  border-radius: 4px;
  background-color: #fff3f3;
  color: #fe6d6d;
  font-size: 11px;
  font-weight: 500;
}
.cok_label_grey {
  display: flex;
  width: auto;
  height: auto;
  padding: 4px;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #777777;
  font-size: 11px;
  font-weight: 500;
}
.cok_label_puple {
  display: flex;
  width: auto;
  height: auto;
  padding: 4px;
  border-radius: 4px;
  background-color: #f2eefb;
  color: #5f26cd;
  font-size: 11px;
  font-weight: 500;
}

.cok_info_option {
  font-size: 15px;
  font-weight: 500;
  color: rgb(68, 68, 68);
  padding-top: 4px;
}
.cok_info_date {
  font-size: 17px;
  font-weight: 600;
  color: rgb(28, 28, 28);
  padding-top: 4px;
}
