.header {
  border-bottom: 1px solid #eaeaea;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  background-color: #ffffff;
}
.layout {
  margin: 0 auto;
  width: 100%;
  max-width: 975px;
  background-color: #fff;
  padding-top: 25px;
}
.header_top {
  display: flex;
  justify-content: space-between;
}
.header_top_left {
  gap: 50px;
}

.main_menu {
}
.logo {
  display: block;
}
.logo img {
}
.main_menu li {
}
.main_menu li a {
}
.header_top_right {
  display: flex;
}
.main {
}
.footer {
}
