.justnew {
  width: auto;
  height: auto;
}
.layout {
}
.justnew_main {
}
.justnew_title {
  font-size: 24px;
  font-weight: 700;
  color: rgb(28, 28, 28);
}
.justnew_title span {
}
.justnew_banner {
}
.justnew_banner_content {
}
.justnew_banner_img {
}
.justnew_banner_img img {
}
.justnew_banner_info {
}
.justnew_banner_label {
}
.justnew_banner_text {
}
.justnew_banner_date {
}
