.justnew {
  width: auto;
  height: auto;
}
.layout {
}
.justnew_main {
}
.justnew_title {
  font-size: 24px;
  font-weight: 700;
  color: rgb(28, 28, 28);
}
.justnew_title span {
}
.justnew_banner {
}
.justnew_banner_content {
}
.justnew_banner_img {
}
.justnew_banner_img img {
}
.justnew_banner_info {
}
.justnew_banner_label {
}
.justnew_banner_text {
}
.justnew_banner_date {
}
/* label color */
.label_blue {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 4px;
  border-radius: 4px;
  background-color: rgb(231, 235, 254);
  color: #346df3;
  font-size: 11px;
  font-weight: 500;
}
.label_red {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 4px;
  border-radius: 4px;
  background-color: #fff3f3;
  color: #fe6d6d;
  font-size: 11px;
  font-weight: 500;
}
.label_puple {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 4px;
  border-radius: 4px;
  background-color: #f2eefb;
  color: #5f26cd;
  font-size: 11px;
  font-weight: 500;
}
/* label color */
